.Login {
    width: 100%;
    height: 60vh;
    padding-inline: 30px;
    margin-top: 30px;
}

.Login form {
    padding: 20px;
    background-color: white;
    max-width: 400px;
    margin-inline: auto;
}

.error {
    max-width: 400px;
    margin-inline: auto;
}

.Login form {
    box-shadow: 3px 3px 10px gray;
}

.Login form input {
    border: 2px solid #819fb9;
    padding: 5px 10px;
}

.Login form input[type="checkbox"] {
    border: 1px solid rgb(97, 97, 97);
    padding: 0px;
}

.Login form label {
    font-size: 95%;
    margin-bottom: 2px;
    margin-top: 15px;
}

.Login form .form-control:focus {
    border: 2px solid #21394e !important;
}

.Login form p {
    font-size: 150%;
    font-weight: 600;
}

.form-check input {
    bottom: 2px;
    margin-right: 20px;
}

.Login form button {
    padding: 5px 10px;
    color: #2e5372;
    border: 1px solid #2e5372;
}

.Login form button:hover {
    border-color: transparent !important;
    background-color: #5a85aa;
}

.btn.btn-primary:disabled , .btn.btn-primary:active{
    background-color: #5a85aa;
    border: 1px solid #2e5372;
}

/* sign up form styles */

.name {
    display: flex;
    gap: 10px;
}
