rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match/projects/{project_id} {
      // allwoing the users to read and create the project if they are logged in
      allow read, create, update: if request.auth != null;

      // allwoing the users to delete only the project that blongs to them 
      allow delete: if request.auth.uid == resource.data.uid;

      // allowing the users to edit the project 
      // allow update: if request.auth.uid == resource.data.comments.createdBy.uid; 
    }
    match/user/{user_id} {
      // allwoing the users to read and create their user profile info
      allow create, read: if request.auth != null;

      // allowing the user to be able to edit their user profile at the user collection 
      allow update: if request.auth.uid == user_id;
    }
  }
}       
                             