.NavBar {
    display: flex;
    width: 100%;
    margin-inline: auto;
    padding: 20px 50px;
    /* margin-bottom: 30px; */
    align-items: center;
    color: rgb(84, 84, 84);
    justify-content: space-between;
}

.NavBar .head {
    gap: 10px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.brand {
    font-weight: 700;
    text-decoration: none;
    color: rgb(84, 84, 84);
}

.NavBar img {
    width: 30px;
    filter: invert(25%);
}

.NavBar .links {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NavBar .navlink {
    font-weight: 600;
    text-decoration: none;
    color: rgb(86, 86, 86);
}

.NavBar .links .active {
    text-decoration: none;
    color: var(--primary-color);
}

.NavBar button {
    padding: 5px 10px;
    border: 2px solid var(--primary-color);
}

.error {
    margin-block: 0px !important;
    max-width: 100% !important;
    margin-bottom: 0px !important;
    width: 100%;
}

.links button:disabled {
    background-color: var(--primary-color);
    color: white;
    border-color: transparent;
}